{
  "printWidth": 100,
  "singleQuote": true,
  "importOrder": [
    "^(react|react-dom|react-router-dom)$",
    "<THIRD_PARTY_MODULES>",
    "^(?!\\.).*.css",
    "^(components|pages)/(.*)$",
    "^(data|utils)/(.*)$",
    "^hooks/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}