{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "^(react|react-dom|react-router-dom)$",
    "<THIRD_PARTY_MODULES>",
    "^(?!\\.).*.css",
    "^(components|pages)/(.*)$",
    "^(data|utils)/(.*)$",
    "^hooks/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
